<!DOCTYPE html>
<html>
<head>
    <title>항목</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body class="grey-bg">
<!--html 페이지 요소 불러오기-->
<%- include('nav.ejs') %>

    <div class="detail-bg">
        <h4><%= result.title %></h4>
        <p><%= result.content %></p>
    </div>


</body>
</html>