<!DOCTYPE html>
<html>
<head>
    <title>리스트</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body class="grey-bg">
<!--html 페이지 요소 불러오기-->
<%- include('nav.ejs') %>

<form class="form-box" action="/login" method="POST">
    <h4>로그인</h4>
    <input name="username">
    <input name="password" type="password">
    <button type="submit">전송</button>
</form>

</body>
<script>

</script>
</html>