<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <title>Document</title>
</head>
<body>
    <%- include('nav.ejs') %>
    <form class="form-box" action="/add" method="POST">
        <h4>글쓰기</h4>
        <input name="title">
        <input name="content">
        <button type="submit">전송</button>
    </form>
</body>
</html>
